:root {
    --header-bg: #F8F9FA;
    --search-bar: #E5E5E5;
    --nav-icons-color: #5B5858;
    --bell-icon-color: #FF8F00;
    --sidebar-bg: #051E34;
    --main-open-bg: #1B72E8;
    --main-badge-bg: #165BBA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max: width 100%;
}

input {
    outline: none;
    border: none;
}

/************ SECTION CONTAINER ************/

.section-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-header {
    flex-shrink: 0;
    padding: 1rem 0;
    background-color: var(--header-bg);
}

.main-area {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}

/****** NAV HEADER ******/

.nav-header .col-auto {
    align-self: center;
}

.nav-row-bg {
    background-color: white;
}

.logo-thumb-lg {
    display: none;
}

.logo-thumb {
    width: 2rem;
}

.row-search {
    padding: 0.75rem 0;
}

.col-search {
    flex-grow: 1;
    background-color: var(--search-bar);
    border-radius: 5px;
    margin: 0 1rem;
}

.nav-search {
    flex-grow: 1;
    padding-left: 0;
}

.nav-text-search {
    width: 100%;
    background-color: var(--search-bar);
}

.nav-icons-lg {
    display: none;
}

.bell-icon {
    color: var(--bell-icon-color);
}

/****** /NAV HEADER ******/

/****** MAIN-AREA ******/

.sidebar {
    flex-basis: 4.25rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.25rem;
    color: white;
    background-color: var(--sidebar-bg);
    background-image: url(../img/sidebar-bg.png);
}

.main-section {
    flex-grow: 1;
    overflow: auto;
}

/*** SIDEBAR ***/

.my-sidebar-row {
    display: flex;
    flex-direction: column;
}

.my-sidebar-col {
    display: contents;
}

.my-sidebar-item {
    display: flex;
    gap: 1.25rem;
    transition: 0.3s;
    padding: 0.5rem 0;
}

.my-sidebar-item:hover {
    background-color: rgba(255, 255, 255, 0.151);
}

.my-text-lg {
    display: none;
}

.my-sidebar-col .last {
    display: flex;
    margin-top: auto;
}

/*** /SIDEBAR ***/

/*** MAIN SECTION ***/

/* MAIN OPEN */

.main-open {
    background-color: var(--main-open-bg);
    padding: 1.5rem 0;
    color: white;
}

.row-gap {
    row-gap: 1.75rem;
}

.my-open-row {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
}

.my-open-col {
    flex-basis: auto;
}

.open-title {
    font-size: 1.75rem;
}

.open-badge {
    font-size: 0.75rem;
    background-color: var(--main-badge-bg) !important;
}

.badge-lg {
    display: none;
}

.online-count {
    font-size: 1.5rem;
}

.top-mobile {
    order: -1;
}

.btn-primary {
    border: 1px solid white;
}

/* CANVAS */

.offcanvas {
    --bs-offcanvas-width: min(100vw, 100%) !important;
}

.canvas-row-gap {
    row-gap: 1rem;
}

.canvas-text-style {
    font-weight: bold;
}

/* /MAIN OPEN */

/* MAIN CONTENT */

.main-content {
    padding: 1.5rem 0;
}

.main-content-row-gap {
    row-gap: 1rem;
}

.avatar-thumb {
    width: 1.875rem;
}

.my-outer-card {
    padding: 1rem;
}

/* /MAIN CONTENT */

/*** /MAIN SECTION ***/

/****** /MAIN AREA ******/

/************ /SECTION CONTAINER ************/

/************ MEDIA QUERY ************/

@media screen and (min-width: 501px) {

    .top-mobile {
        order: 0;
    }
}

@media screen and (min-width: 769px) {

    .logo-thumb-lg {
        display: block;
    }

    .logo-thumb {
        display: none;
    }

    .nav-icons-lg {
        display: block;
    }

    .sidebar {
        flex-basis: 9.375rem;
        padding: 2rem 1.25rem;
    }

    .my-text-lg {
        display: block;
    }

    .new-student-row {
        justify-content: flex-end;
    }

}

@media screen and (min-width: 1200px) {

    .badge-sm {
        display: none;
    }

    .badge-lg {
        display: inline;
    }

    .offcanvas {
        --bs-offcanvas-width: min(95vw, 50rem) !important;
    }

}